#newBridge .nb-icon-base{display: none}
body,h1,h2,h3,h4,h5,h6,hr,p,blockquote,dl,dt,dd,ul,ol,li,pre,form,fieldset,legend,button,input,textarea,th,td{margin:0;padding:0;}
html{color:#000;overflow-y:scroll;overflow:-moz-scrollbars-vertical}
body,button,input,select,textarea{font-size:12px;font-family:arial,'Hiragino Sans GB','Microsoft Yahei','微软雅黑','宋体',\5b8b\4f53,Tahoma,Arial,Helvetica,STHeiti}
h1,h2,h3,h4,h5,h6{font-size:100%}
em{font-style:normal}
small{font-size:12px}
ul,ol{list-style:none}
a{text-decoration:none}
a:hover{text-decoration:none;}
legend{color:#000}
fieldset,img{border:0}
button,input,select,textarea{font-size:100%}
table{border-collapse:collapse;border-spacing:0}
img{-ms-interpolation-mode:bicubic}
textarea{resize:vertical}
.left{float:left}
.right{float:right}
.overflow{overflow:hidden}
.hide{display:none}
.block{display:block}
.inline{display:inline}
.error{color:#F00;font-size:12px}
label,button{cursor:pointer}
.clearfix:after{content:'\20';display:block;height:0;clear:both}
.clearfix{zoom:1}
.clear{clear:both;height:0;line-height:0;font-size:0;visibility:hidden;overflow:hidden}
.wordwrap{word-break:break-all;word-wrap:break-word}
pre.wordwrap{white-space:pre-wrap}
body,form{position:relative}
td{text-align:left}
img{border:0}
*{box-sizing: border-box;}
.pr{position: relative;}
body{overflow: hidden;}
/* CSS Document */
.dialog,
.dialog__overlay {width: 100%;height: 100%;top: 0;left: 0;z-index: 10001;}
.dialog {position: fixed;display: -webkit-flex;display: flex;-webkit-align-items: center;align-items: center;-webkit-justify-content: center;justify-content: center;pointer-events: none;}
.dialog__overlay {
	position: absolute;
	z-index: 1;
	background: rgba(55, 58, 71, 0.9);
	opacity: 0;
	-webkit-transition: opacity 0.3s;
	transition: opacity 0.3s;
	-webkit-backface-visibility: hidden;
}
.dialog--open .dialog__overlay {
	opacity: 1;
	pointer-events: auto;
}
.dialog__content {
	width: 50%;
	max-width: 800px;
	min-width: 400px;
	background: #fff;
	padding: 20px;
	text-align: center;
	position: relative;
	z-index: 5;
	opacity: 0;
	box-shadow: 3px 3px 20px #ececec,-3px 3px 20px #ececec,3px -3px 20px #ececec;
}
.dialog--open .dialog__content {
	pointer-events: auto;
}
.dialog.dialog--open .dialog__content,
.dialog.dialog--close .dialog__content {
	-webkit-animation-duration: 1s;
	animation-duration: 1s;
	-webkit-animation-timing-function: linear;
	animation-timing-function: linear;
	-webkit-animation-fill-mode: forwards;
	animation-fill-mode: forwards;
}
.dialog.dialog--open .dialog__content {
	-webkit-animation-name: anim-open;
	animation-name: anim-open;
}
.dialog.dialog--close .dialog__content {
	-webkit-animation-name: anim-close;
	animation-name: anim-close;
	-webkit-animation-duration: 0.3s;
	animation-duration: 0.3s;
	-webkit-animation-timing-function: ease-out;
	animation-timing-function: ease-out;
}
.dialog h2 {
	margin: 0;
	font-weight: 400;
	font-size: 2em;
	padding: 0 0 2em;
	margin: 0;
}
@-webkit-keyframes anim-open {
	0% { opacity: 0; -webkit-transform: matrix3d(0.7, 0, 0, 0, 0, 0.7, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(0.7, 0, 0, 0, 0, 0.7, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
	2.083333% { -webkit-transform: matrix3d(0.75266, 0, 0, 0, 0, 0.76342, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(0.75266, 0, 0, 0, 0, 0.76342, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
	4.166667% { -webkit-transform: matrix3d(0.81071, 0, 0, 0, 0, 0.84545, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(0.81071, 0, 0, 0, 0, 0.84545, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
	6.25% { -webkit-transform: matrix3d(0.86808, 0, 0, 0, 0, 0.9286, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(0.86808, 0, 0, 0, 0, 0.9286, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
	8.333333% { -webkit-transform: matrix3d(0.92038, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(0.92038, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
	10.416667% { -webkit-transform: matrix3d(0.96482, 0, 0, 0, 0, 1.05202, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(0.96482, 0, 0, 0, 0, 1.05202, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
	12.5% { -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1.08204, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1, 0, 0, 0, 0, 1.08204, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
	14.583333% { -webkit-transform: matrix3d(1.02563, 0, 0, 0, 0, 1.09149, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1.02563, 0, 0, 0, 0, 1.09149, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
	16.666667% { -webkit-transform: matrix3d(1.04227, 0, 0, 0, 0, 1.08453, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1.04227, 0, 0, 0, 0, 1.08453, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
	18.75% { -webkit-transform: matrix3d(1.05102, 0, 0, 0, 0, 1.06666, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1.05102, 0, 0, 0, 0, 1.06666, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
	20.833333% { -webkit-transform: matrix3d(1.05334, 0, 0, 0, 0, 1.04355, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1.05334, 0, 0, 0, 0, 1.04355, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
	22.916667% { -webkit-transform: matrix3d(1.05078, 0, 0, 0, 0, 1.02012, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1.05078, 0, 0, 0, 0, 1.02012, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
	25% { -webkit-transform: matrix3d(1.04487, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1.04487, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
	27.083333% { -webkit-transform: matrix3d(1.03699, 0, 0, 0, 0, 0.98534, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1.03699, 0, 0, 0, 0, 0.98534, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
	29.166667% { -webkit-transform: matrix3d(1.02831, 0, 0, 0, 0, 0.97688, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1.02831, 0, 0, 0, 0, 0.97688, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
	31.25% { -webkit-transform: matrix3d(1.01973, 0, 0, 0, 0, 0.97422, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1.01973, 0, 0, 0, 0, 0.97422, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
	33.333333% { -webkit-transform: matrix3d(1.01191, 0, 0, 0, 0, 0.97618, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1.01191, 0, 0, 0, 0, 0.97618, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
	35.416667% { -webkit-transform: matrix3d(1.00526, 0, 0, 0, 0, 0.98122, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1.00526, 0, 0, 0, 0, 0.98122, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
	37.5% { -webkit-transform: matrix3d(1, 0, 0, 0, 0, 0.98773, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1, 0, 0, 0, 0, 0.98773, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
	39.583333% { -webkit-transform: matrix3d(0.99617, 0, 0, 0, 0, 0.99433, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(0.99617, 0, 0, 0, 0, 0.99433, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
	41.666667% { -webkit-transform: matrix3d(0.99368, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(0.99368, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
	43.75% { -webkit-transform: matrix3d(0.99237, 0, 0, 0, 0, 1.00413, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(0.99237, 0, 0, 0, 0, 1.00413, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
	45.833333% { -webkit-transform: matrix3d(0.99202, 0, 0, 0, 0, 1.00651, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(0.99202, 0, 0, 0, 0, 1.00651, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
	47.916667% { -webkit-transform: matrix3d(0.99241, 0, 0, 0, 0, 1.00726, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(0.99241, 0, 0, 0, 0, 1.00726, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
	50% { opacity: 1; -webkit-transform: matrix3d(0.99329, 0, 0, 0, 0, 1.00671, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(0.99329, 0, 0, 0, 0, 1.00671, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
	52.083333% { -webkit-transform: matrix3d(0.99447, 0, 0, 0, 0, 1.00529, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(0.99447, 0, 0, 0, 0, 1.00529, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
	54.166667% { -webkit-transform: matrix3d(0.99577, 0, 0, 0, 0, 1.00346, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(0.99577, 0, 0, 0, 0, 1.00346, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
	56.25% { -webkit-transform: matrix3d(0.99705, 0, 0, 0, 0, 1.0016, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(0.99705, 0, 0, 0, 0, 1.0016, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
	58.333333% { -webkit-transform: matrix3d(0.99822, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(0.99822, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
	60.416667% { -webkit-transform: matrix3d(0.99921, 0, 0, 0, 0, 0.99884, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(0.99921, 0, 0, 0, 0, 0.99884, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
	62.5% { -webkit-transform: matrix3d(1, 0, 0, 0, 0, 0.99816, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1, 0, 0, 0, 0, 0.99816, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
	64.583333% { -webkit-transform: matrix3d(1.00057, 0, 0, 0, 0, 0.99795, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1.00057, 0, 0, 0, 0, 0.99795, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
	66.666667% { -webkit-transform: matrix3d(1.00095, 0, 0, 0, 0, 0.99811, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1.00095, 0, 0, 0, 0, 0.99811, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
	68.75% { -webkit-transform: matrix3d(1.00114, 0, 0, 0, 0, 0.99851, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1.00114, 0, 0, 0, 0, 0.99851, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
	70.833333% { -webkit-transform: matrix3d(1.00119, 0, 0, 0, 0, 0.99903, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1.00119, 0, 0, 0, 0, 0.99903, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
	72.916667% { -webkit-transform: matrix3d(1.00114, 0, 0, 0, 0, 0.99955, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1.00114, 0, 0, 0, 0, 0.99955, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
	75% { -webkit-transform: matrix3d(1.001, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1.001, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
	77.083333% { -webkit-transform: matrix3d(1.00083, 0, 0, 0, 0, 1.00033, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1.00083, 0, 0, 0, 0, 1.00033, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
	79.166667% { -webkit-transform: matrix3d(1.00063, 0, 0, 0, 0, 1.00052, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1.00063, 0, 0, 0, 0, 1.00052, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
	81.25% { -webkit-transform: matrix3d(1.00044, 0, 0, 0, 0, 1.00058, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1.00044, 0, 0, 0, 0, 1.00058, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
	83.333333% { -webkit-transform: matrix3d(1.00027, 0, 0, 0, 0, 1.00053, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1.00027, 0, 0, 0, 0, 1.00053, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
	85.416667% { -webkit-transform: matrix3d(1.00012, 0, 0, 0, 0, 1.00042, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1.00012, 0, 0, 0, 0, 1.00042, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
	87.5% { -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1.00027, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1, 0, 0, 0, 0, 1.00027, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
	89.583333% { -webkit-transform: matrix3d(0.99991, 0, 0, 0, 0, 1.00013, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(0.99991, 0, 0, 0, 0, 1.00013, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
	91.666667% { -webkit-transform: matrix3d(0.99986, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(0.99986, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
	93.75% { -webkit-transform: matrix3d(0.99983, 0, 0, 0, 0, 0.99991, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(0.99983, 0, 0, 0, 0, 0.99991, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
	95.833333% { -webkit-transform: matrix3d(0.99982, 0, 0, 0, 0, 0.99985, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(0.99982, 0, 0, 0, 0, 0.99985, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
	97.916667% { -webkit-transform: matrix3d(0.99983, 0, 0, 0, 0, 0.99984, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(0.99983, 0, 0, 0, 0, 0.99984, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
	100% { opacity: 1; -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
}
@keyframes anim-open {
	0% { opacity: 0; -webkit-transform: matrix3d(0.7, 0, 0, 0, 0, 0.7, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(0.7, 0, 0, 0, 0, 0.7, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
	2.083333% { -webkit-transform: matrix3d(0.75266, 0, 0, 0, 0, 0.76342, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(0.75266, 0, 0, 0, 0, 0.76342, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
	4.166667% { -webkit-transform: matrix3d(0.81071, 0, 0, 0, 0, 0.84545, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(0.81071, 0, 0, 0, 0, 0.84545, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
	6.25% { -webkit-transform: matrix3d(0.86808, 0, 0, 0, 0, 0.9286, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(0.86808, 0, 0, 0, 0, 0.9286, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
	8.333333% { -webkit-transform: matrix3d(0.92038, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(0.92038, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
	10.416667% { -webkit-transform: matrix3d(0.96482, 0, 0, 0, 0, 1.05202, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(0.96482, 0, 0, 0, 0, 1.05202, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
	12.5% { -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1.08204, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1, 0, 0, 0, 0, 1.08204, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
	14.583333% { -webkit-transform: matrix3d(1.02563, 0, 0, 0, 0, 1.09149, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1.02563, 0, 0, 0, 0, 1.09149, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
	16.666667% { -webkit-transform: matrix3d(1.04227, 0, 0, 0, 0, 1.08453, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1.04227, 0, 0, 0, 0, 1.08453, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
	18.75% { -webkit-transform: matrix3d(1.05102, 0, 0, 0, 0, 1.06666, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1.05102, 0, 0, 0, 0, 1.06666, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
	20.833333% { -webkit-transform: matrix3d(1.05334, 0, 0, 0, 0, 1.04355, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1.05334, 0, 0, 0, 0, 1.04355, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
	22.916667% { -webkit-transform: matrix3d(1.05078, 0, 0, 0, 0, 1.02012, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1.05078, 0, 0, 0, 0, 1.02012, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
	25% { -webkit-transform: matrix3d(1.04487, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1.04487, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
	27.083333% { -webkit-transform: matrix3d(1.03699, 0, 0, 0, 0, 0.98534, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1.03699, 0, 0, 0, 0, 0.98534, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
	29.166667% { -webkit-transform: matrix3d(1.02831, 0, 0, 0, 0, 0.97688, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1.02831, 0, 0, 0, 0, 0.97688, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
	31.25% { -webkit-transform: matrix3d(1.01973, 0, 0, 0, 0, 0.97422, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1.01973, 0, 0, 0, 0, 0.97422, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
	33.333333% { -webkit-transform: matrix3d(1.01191, 0, 0, 0, 0, 0.97618, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1.01191, 0, 0, 0, 0, 0.97618, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
	35.416667% { -webkit-transform: matrix3d(1.00526, 0, 0, 0, 0, 0.98122, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1.00526, 0, 0, 0, 0, 0.98122, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }

	37.5% { -webkit-transform: matrix3d(1, 0, 0, 0, 0, 0.98773, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1, 0, 0, 0, 0, 0.98773, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
	39.583333% { -webkit-transform: matrix3d(0.99617, 0, 0, 0, 0, 0.99433, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(0.99617, 0, 0, 0, 0, 0.99433, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
	41.666667% { -webkit-transform: matrix3d(0.99368, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(0.99368, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
	43.75% { -webkit-transform: matrix3d(0.99237, 0, 0, 0, 0, 1.00413, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(0.99237, 0, 0, 0, 0, 1.00413, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
	45.833333% { -webkit-transform: matrix3d(0.99202, 0, 0, 0, 0, 1.00651, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(0.99202, 0, 0, 0, 0, 1.00651, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
	47.916667% { -webkit-transform: matrix3d(0.99241, 0, 0, 0, 0, 1.00726, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(0.99241, 0, 0, 0, 0, 1.00726, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
	50% { opacity: 1; -webkit-transform: matrix3d(0.99329, 0, 0, 0, 0, 1.00671, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(0.99329, 0, 0, 0, 0, 1.00671, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
	52.083333% { -webkit-transform: matrix3d(0.99447, 0, 0, 0, 0, 1.00529, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(0.99447, 0, 0, 0, 0, 1.00529, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
	54.166667% { -webkit-transform: matrix3d(0.99577, 0, 0, 0, 0, 1.00346, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(0.99577, 0, 0, 0, 0, 1.00346, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
	56.25% { -webkit-transform: matrix3d(0.99705, 0, 0, 0, 0, 1.0016, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(0.99705, 0, 0, 0, 0, 1.0016, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
	58.333333% { -webkit-transform: matrix3d(0.99822, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(0.99822, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
	60.416667% { -webkit-transform: matrix3d(0.99921, 0, 0, 0, 0, 0.99884, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(0.99921, 0, 0, 0, 0, 0.99884, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
	62.5% { -webkit-transform: matrix3d(1, 0, 0, 0, 0, 0.99816, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1, 0, 0, 0, 0, 0.99816, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
	64.583333% { -webkit-transform: matrix3d(1.00057, 0, 0, 0, 0, 0.99795, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1.00057, 0, 0, 0, 0, 0.99795, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
	66.666667% { -webkit-transform: matrix3d(1.00095, 0, 0, 0, 0, 0.99811, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1.00095, 0, 0, 0, 0, 0.99811, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
	68.75% { -webkit-transform: matrix3d(1.00114, 0, 0, 0, 0, 0.99851, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1.00114, 0, 0, 0, 0, 0.99851, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
	70.833333% { -webkit-transform: matrix3d(1.00119, 0, 0, 0, 0, 0.99903, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1.00119, 0, 0, 0, 0, 0.99903, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
	72.916667% { -webkit-transform: matrix3d(1.00114, 0, 0, 0, 0, 0.99955, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1.00114, 0, 0, 0, 0, 0.99955, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
	75% { -webkit-transform: matrix3d(1.001, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1.001, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
	77.083333% { -webkit-transform: matrix3d(1.00083, 0, 0, 0, 0, 1.00033, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1.00083, 0, 0, 0, 0, 1.00033, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
	79.166667% { -webkit-transform: matrix3d(1.00063, 0, 0, 0, 0, 1.00052, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1.00063, 0, 0, 0, 0, 1.00052, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
	81.25% { -webkit-transform: matrix3d(1.00044, 0, 0, 0, 0, 1.00058, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1.00044, 0, 0, 0, 0, 1.00058, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
	83.333333% { -webkit-transform: matrix3d(1.00027, 0, 0, 0, 0, 1.00053, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1.00027, 0, 0, 0, 0, 1.00053, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
	85.416667% { -webkit-transform: matrix3d(1.00012, 0, 0, 0, 0, 1.00042, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1.00012, 0, 0, 0, 0, 1.00042, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
	87.5% { -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1.00027, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1, 0, 0, 0, 0, 1.00027, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
	89.583333% { -webkit-transform: matrix3d(0.99991, 0, 0, 0, 0, 1.00013, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(0.99991, 0, 0, 0, 0, 1.00013, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
	91.666667% { -webkit-transform: matrix3d(0.99986, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(0.99986, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
	93.75% { -webkit-transform: matrix3d(0.99983, 0, 0, 0, 0, 0.99991, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(0.99983, 0, 0, 0, 0, 0.99991, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
	95.833333% { -webkit-transform: matrix3d(0.99982, 0, 0, 0, 0, 0.99985, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(0.99982, 0, 0, 0, 0, 0.99985, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
	97.916667% { -webkit-transform: matrix3d(0.99983, 0, 0, 0, 0, 0.99984, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(0.99983, 0, 0, 0, 0, 0.99984, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
	100% { opacity: 1; -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
}

@-webkit-keyframes anim-close {
	0% { opacity: 1; }
	100% { opacity: 0; -webkit-transform: scale3d(0.8, 0.8, 1); }
}

@keyframes anim-close {
	0% { opacity: 1; }
	100% { opacity: 0; -webkit-transform: scale3d(0.8, 0.8, 1); transform: scale3d(0.8, 0.8, 1); }
}

.sangar-slideshow-container{margin-left:auto;margin-right:auto}.sangar-slideshow-container .sangar-slideshow-content{background-repeat:no-repeat;background-position:center;overflow:hidden;z-index:99}.sangar-slideshow-container .notransition{-webkit-transition:none!important;-moz-transition:none!important;-o-transition:none!important;-ms-transition:none!important;transition:none!important}.sangar-slideshow-container div.sangar-wrapper{position:relative;}.sangar-slideshow-container div.sangar-slideshow-content{position:relative;overflow:hidden;margin-left:auto;margin-right:auto}.sangar-slideshow-container .sangar-slideshow-content>.sangar-content-wrapper{position:absolute;-webkit-backface-visibility:hidden;-webkit-perspective:1000px;-webkit-transform-style:preserve-3d;-moz-backface-visibility:hidden;-moz-perspective:1000px;-moz-transform-style:preserve-3d;-o-backface-visibility:hidden;-o-perspective:1000px;-o-transform-style:preserve-3d;-ms-backface-visibility:hidden;-ms-perspective:1000px;-ms-transform-style:preserve-3d}.sangar-slideshow-container .sangar-slideshow-content>.sangar-content-wrapper>.sangar-content{position:absolute;top:0;left:0;overflow:hidden}.sangar-slideshow-container .sangar-slideshow-content>.sangar-content-wrapper>.sangar-content>a,.sangar-slideshow-container .sangar-slideshow-content>.sangar-content-wrapper>.slideWrapperInside>.sangar-content>a{left:0;top:0;position:absolute;width:100%;height:100%;display:block;z-index:20;background:0 0;-webkit-backface-visibility:hidden;outline:0;padding:0;margin:0;text-indent:100%;white-space:nowrap;overflow:hidden}.sangar-slideshow-content>img,.sangar-slideshow-content>div,.sangar-slideshow-content>a{display:none}.sangar-slideshow-container div.sangar-timer{position:absolute;display:block;top:0;left:0;height:5px;opacity:.6;z-index:99}.sangar-slideshow-container div.sangar-timer div.sangar-timer-mask{height:100%;width:0;background:#fff}
.sangar-slideshow-container .sangar-content-wrapper .sangar-content>div.sslider-bg-content{display:block;width:100%;height:100%}
.sangar-slideshow-container .sangar-content-wrapper .sangar-content .sangar-textbox{display:table;position:absolute;top:0;left:0;width:100%;height:100%;padding:42px;box-sizing:border-box}.sangar-slideshow-container .sangar-textbox.sangar-textbox-with-button{z-index:21}.sangar-slideshow-container .sangar-textbox .sangar-textbox-inner{display:table-cell}.sangar-slideshow-container .sangar-textbox-content{-webkit-border-radius:5px;-moz-border-radius:5px;border-radius:5px}.sangar-slideshow-container .sangar-textbox-content p{margin:0}.sangar-slideshow-container .sangar-textbox-content>div{margin-top:15px}.sangar-slideshow-container .sangar-textbox-content>div p{font-size:inherit}.sangar-slideshow-container .sangar-textbox-content p.sangar-slide-title{font-weight:700}.sangar-slideshow-container .sangar-textbox-content{box-sizing:border-box}.sangar-slideshow-container .sangar-position-left{vertical-align:middle}.sangar-slideshow-container .sangar-position-left>.sangar-textbox-content{margin-right:auto}.sangar-slideshow-container .sangar-position-top-left{vertical-align:top}.sangar-slideshow-container .sangar-position-top-left>.sangar-textbox-content{margin-right:auto}.sangar-slideshow-container .sangar-position-top{vertical-align:top}.sangar-slideshow-container .sangar-position-top>.sangar-textbox-content{margin-right:auto;margin-left:auto}.sangar-slideshow-container .sangar-position-top-right{vertical-align:top}.sangar-slideshow-container .sangar-position-top-right>.sangar-textbox-content{margin-left:auto}.sangar-slideshow-container .sangar-position-right{vertical-align:middle}.sangar-slideshow-container .sangar-position-right>.sangar-textbox-content{margin-left:auto}.sangar-slideshow-container .sangar-position-bottom-right{vertical-align:bottom}.sangar-slideshow-container .sangar-position-bottom-right>.sangar-textbox-content{margin-left:auto}.sangar-slideshow-container .sangar-position-bottom{vertical-align:bottom}.sangar-slideshow-container .sangar-position-bottom>.sangar-textbox-content{margin-right:auto;margin-left:auto}.sangar-slideshow-container .sangar-position-bottom-left{vertical-align:bottom}.sangar-slideshow-container .sangar-position-bottom-left>.sangar-textbox-content{margin-right:auto}.sangar-slideshow-container .sangar-position-center{vertical-align:middle}.sangar-slideshow-container .sangar-position-center>.sangar-textbox-content{margin-right:auto;margin-left:auto}.sangar-slideshow-container .sangar-position-sticky-top>.sangar-textbox-content{position:absolute;left:0;right:0;top:0;padding:45px;width:100%!important;-webkit-border-radius:0;-moz-border-radius:0;border-radius:0}.sangar-slideshow-container .sangar-position-sticky-bottom>.sangar-textbox-content{position:absolute;left:0;right:0;bottom:0;padding:45px;width:100%!important;-webkit-border-radius:0;-moz-border-radius:0;border-radius:0}.sangar-slideshow-container .slideWrapperInside{float:left;position:absolute}.sangar-slideshow-container .slideWrapperInside .sangar-content{overflow:hidden}.sangar-slideshow-container .slideWrapperInside.swi1st{z-index:1}.sangar-slideshow-container .slideWrapperInside.swi2nd{z-index:2}.sangar-slideshow-container .slideWrapperInside.swi3rd{z-index:1}.sangar-slideshow-container nav.sangar-slider-nav{display:block}.sangar-slideshow-container div.sangar-slider-nav span.sangar-arrow-right,.sangar-slideshow-container div.sangar-slider-nav span.sangar-arrow-left{width:38px;height:38px;position:absolute;z-index:10;font-weight:700;cursor:pointer}.sangar-slideshow-container div.sangar-slider-nav span.sangar-arrow-up,.sangar-slideshow-container div.sangar-slider-nav span.sangar-arrow-down{width:38px;height:38px;position:absolute;z-index:10;font-weight:700;cursor:pointer}.sangar-slideshow-container div.small span{top:40%;width:40px;height:40px;font-size:60px;font-weight:100;line-height:30px;margin-top:-20px}.sangar-slideshow-container div.sangar-slider-nav span:hover{color:#fff;text-decoration:none}.sangar-slideshow-container .sangar-pagination-wrapper{margin:0;padding:0;text-align:center;line-height:0;background-color:transparent;text-align:center}.sangar-slideshow-container .sangar-pagination-wrapper.wrapper-content-vertical{position:absolute;top:0}.sangar-slideshow-container .sangar-pagination-wrapper.wrapper-bullet{background:0 0;text-align:center;position:absolute;bottom:12px;z-index:10}.sangar-slideshow-container .sangar-pagination-wrapper ul.sangar-pagination{font-size:14px;line-height:normal}.sangar-slideshow-container .sangar-pagination-wrapper ul.sangar-pagination-none{display:none!important}.sangar-slideshow-container .sangar-pagination-wrapper ul.sangar-pagination-bullet{z-index:10;list-style:none;display:inline-block;margin:0;padding:0}.sangar-slideshow-container .sangar-wrapper ul.sangar-pagination-bullet>li:first-child,.sangar-slideshow-container .sangar-wrapper ul.sangar-pagination-bullet>li.sangar-pagination-active:first-child{margin-left:0}.sangar-slideshow-container .sangar-pagination-wrapper ul.sangar-pagination-content-horizontal{position:relative;z-index:10;list-style:none;display:inline-block;margin:0;width:100%;padding:0}.sangar-slideshow-container .sangar-wrapper ul.sangar-pagination-content-horizontal>li{float:left;cursor:pointer;overflow:hidden;list-style-type:none;padding:0;margin:0;background-image:none;display:inline}.sangar-slideshow-container .sangar-pagination-wrapper ul.sangar-pagination-content-vertical{position:relative;z-index:10;list-style:none;display:inline-block;margin:0;width:100%;padding:0}.sangar-slideshow-container .sangar-wrapper ul.sangar-pagination-content-vertical>li{cursor:pointer;overflow:hidden;list-style-type:none;padding:0;margin:0;background-image:none}
.sangar-slideshow-container .sangar-slider-loading>div{text-align:center;width:65px;height:20px;position:absolute;top:50%;left:50%;margin-left:-30px;margin-top:-10px;font-size:2px}
.sangar-slideshow-container .sangar-slider-loading>div>span{display:inline-block;vertical-align:middle;width:7px;height:7px;margin:10px auto;background:#fff;-moz-border-radius:35px;-moz-animation:bubblingG .6s infinite alternate;-webkit-border-radius:35px;-webkit-animation:bubblingG .6s infinite alternate;-ms-border-radius:35px;-ms-animation:bubblingG .6s infinite alternate;-o-border-radius:35px;-o-animation:bubblingG .6s infinite alternate;border-radius:35px;animation:bubblingG .6s infinite alternate}.sangar-slideshow-container .sangar-slider-loading>div>#span_1{-moz-animation-delay:.36s;-webkit-animation-delay:.36s;-ms-animation-delay:.36s;-o-animation-delay:.36s;animation-delay:.36s}.sangar-slideshow-container .sangar-slider-loading>div>#span_2{-moz-animation-delay:.18s;-webkit-animation-delay:.18s;-ms-animation-delay:.18s;-o-animation-delay:.18s;animation-delay:.18s}.sangar-slideshow-container .sangar-slider-loading>div>#span_3{-moz-animation-delay:0s;-webkit-animation-delay:0s;-ms-animation-delay:0s;-o-animation-delay:0s;animation-delay:0s}@-moz-keyframes bubblingG{0%{width:7px;height:7px;background-color:#fff;-moz-transform:translateY(0)}100%{width:18px;height:18px;background-color:#00aeef;-moz-transform:translateY(-15px)}}@-webkit-keyframes bubblingG{0%{width:7px;height:7px;background-color:#fff;-webkit-transform:translateY(0)}100%{width:18px;height:18px;background-color:#00aeef;-webkit-transform:translateY(-15px)}}@-ms-keyframes bubblingG{0%{width:7px;height:7px;background-color:#fff;-ms-transform:translateY(0)}100%{width:18px;height:18px;background-color:#00aeef;-ms-transform:translateY(-15px)}}@-o-keyframes bubblingG{0%{width:7px;height:7px;background-color:#fff;-o-transform:translateY(0)}100%{width:18px;height:18px;background-color:#00aeef;-o-transform:translateY(-15px)}}@keyframes bubblingG{0%{width:7px;height:7px;background-color:#fff;transform:translateY(0)}100%{width:18px;height:18px;background-color:#00aeef;transform:translateY(-15px)}}
.sangar-slideshow-container>.default ul.sangar-pagination-bullet>li{float:left;margin-left:10px;cursor:pointer;color:#bbb;width:18px;height:18px;overflow:hidden;padding:0;-webkit-border-radius:90px;-moz-border-radius:90px;border-radius:90px;background-color:#4c4c4c}.sangar-slideshow-container>.default ul.sangar-pagination-bullet>li.sangar-pagination-active{color:#616161;background-color:#d3d3d3;margin-left:auto;margin-right:auto;margin-left:10px;border:5px solid #4c4c4c;width:8px;height:8px}.sangar-slideshow-container>.default ul.sangar-pagination-content-horizontal>li{padding:15px 0;text-align:center;color:#fff}.sangar-slideshow-container>.default ul.sangar-pagination-content-horizontal>li.sangar-pagination-active{background-color:#a64e48}
.sangar-slideshow-container>.default ul.sangar-pagination-type-image>li.sangar-pagination-active{background:0 0}
.sangar-slideshow-container>.default ul.sangar-pagination-type-image>li.sangar-pagination-active>img{border:2px solid #fff;margin:-2px}
.sangar-slideshow-container>.default ul.sangar-pagination-content-horizontal>li:hover{background-color:#a64e48}
.sangar-slideshow-container>.default ul.sangar-pagination-type-image>li:hover{background:0 0}
.sangar-slideshow-container>.default ul.sangar-pagination-content-vertical>li{padding:15px 0;text-align:center;color:#fff}
.sangar-slideshow-container>.default ul.sangar-pagination-type-image>li{padding:5px 0}
.sangar-slideshow-container>.default ul.sangar-pagination-content-vertical>li.sangar-pagination-active{background-color:#a64e48}
.sangar-slideshow-container>.default ul.sangar-pagination-type-image>li.sangar-pagination-active{background:0 0}
.sangar-slideshow-container>.default ul.sangar-pagination-type-image>li.sangar-slideshow-container>.default ul.sangar-pagination-type-image>li.sangar-slideshow-container>.default ul.sangar-pagination-type-image>li.sangar-pagination-active>img{border:2px solid #fff;margin:-2px}.sangar-slideshow-container>.default ul.sangar-pagination-content-vertical>li:hover{background-color:#a64e48}
.sangar-slideshow-container>.default ul.sangar-pagination-type-image>li.sangar-slideshow-container>.default ul.sangar-pagination-type-image>li:hover{background:0 0}
.sangar-slideshow-container .sangar-pagination-wrapper{background-color: transparent;margin-top: -57px;}
.sangar-slideshow-container>.default ul.sangar-pagination-type-image>li{padding: 0;margin-right: 40px;opacity: 0.7;height: 108px;border: 3px solid #fff;overflow: visible;}
.sangar-slideshow-container>.default ul.sangar-pagination-type-image>li:last-child{margin-right: 0;}
.sangar-slideshow-container>.default ul.sangar-pagination-type-image>li.sangar-pagination-active{opacity: 1;position: relative;}
.sangar-slideshow-container>.default ul.sangar-pagination-type-image>li.sangar-pagination-active:after{content: ' ';width:0;height:0;border-width:0 20px 20px;border-style:solid;border-color:transparent transparent #fff;/*透明 透明  灰*/position: absolute;top:-20px;left:112px;}
.qc-width{width: 1200px;margin: 0 auto;zoom: 1;}
.qc-width:after{content:'\20';display:block;height:0;clear:both;}
.qc-head{position: relative;padding: 20px 0;height: 100px;z-index: 10000;background-color: #fff;width: 100%;box-shadow: 3px 3px 10px #ececec;}
.qc-head.nav-fix{position: fixed;}
.qc-logo{float: left;}
.qc-logo__img{width: 60px;height: 60px;float: left;margin-right: 10px;}
.qc-logo__title{float: left;color: #0071BB;font-size: 20px;font-weight: normal;}
.qc-logo__title .title{font-size: 30px;}
.qc-logo__title .des{font-size: 16px;color: #5492C9;}
.qc-nav{position: absolute;right: 0;top:5px;}
.qc-nav ul li{float: left;display: table;margin-left: 50px;}
.qc-nav ul li a{height: 60px;text-align: center;color: #808080;font-size: 20px;display: table-cell;vertical-align: middle;transition:all 1s ease-out;}
.qc-nav ul li a:hover{color:#0071BB;transition:all .3s ease-out;}
.qc-nav ul li a.active{color: #0071BB;font-weight: bold;}
.qc-nav ul li a span{display: block;}
.qc-nav ul li a span.english{font-size: 14px;}

.section-title{position: relative;text-align: center;}
.section-title__text{font-size: 40px;font-weight: bold;color: #000;margin-bottom: 5px;}
.section-title__text strong{color: #2C70E4;}
.section-title__des{font-size: 20px;color: #808080;margin-bottom: 5px;}
.section-title__line{width: 40px;height:4px;background-color: #2C70E4;margin: 5px auto 0;}

.contact-wrap{text-align: center;margin-top: 80px;}
.contact-btn{ 
	display: inline-block;
	padding: 16px 60px;
	position: relative;
	text-align: center;
	color: #fff;
	font-size: 20px;
	margin: 50px auto 0px;
	border-radius: 40px;
		transition: .6s;
		background: -webkit-linear-gradient(bottom,#2C70E4,#a744ff);
		box-shadow: 0px 1px 20px #2C70E4;
}
.contact-btn .service-img{position: absolute;width:50px;top:-79px;left: 50%;margin-left: -25px;}
.contact-btn:hover{background: -webkit-linear-gradient(bottom,#a744ff,#2C70E4);;color: #fff;}

/* .section-banner{padding-top:100px;} */
.section-problem{margin-top: 100px;}
.problem-items{margin-top: 60px;}
.problem-items ul{margin-bottom: 30px;}
.problem-item{width: 350px;height: 300px;cursor: pointer;position: relative;float: left;margin-right: 70px;overflow: hidden;text-align: center;color: #fff; -webkit-transition: all .3s ease; -moz-transition: all .3s ease; -ms-transition: all .3s ease; -o-transition: all .3s ease; transition: all .3s ease;} 
.problem-item:hover{transform: scale(1.05);  -webkit-transition: all .3s ease; -moz-transition: all .3s ease; -ms-transition: all .3s ease; -o-transition: all .3s ease; transition: all .3s ease; box-shadow: 0 5px 15px 5px rgba(0,0,0,.15);}
.problem-item-center{background-color: #e7e7e7;}
.problem-item-center img{margin-top: 30px;}
.problem-item:last-child{margin-right: 0;}
.problem-item__bg{width: 350px;height: 300px;position: relative;}
.problem-item__bg__mask{position: absolute;background-color: rgba(0, 0, 0, 0.8);width: 100%;height: 100%;top:0;left: 0;-webkit-transition: all .3s ease; -moz-transition: all .3s ease; -ms-transition: all .3s ease; -o-transition: all .3s ease; transition: all .3s ease;}
.problem-item:hover .problem-item__bg__mask{background-color: rgba(0, 0, 0, 0.5);}
.problem-item__content{position: absolute;width: 100%;height: 100%;top:0;left: 0;text-align: center;display: table;}
.problem-item__content .content-body{display: table-cell;vertical-align: middle;}
.problem-item__content .icon-wrap{width: 110px;height: 110px;line-height: 110px;text-align: center;margin: 0 auto;}
.problem-item__content .icon-wrap img{vertical-align: middle;}
.problem-item__content h4{font-size: 30px;font-weight: bold;}
.problem-item__content p{font-size: 20px;margin-top: 10px;color: #efeded;}

.section-mark{margin-top: 60px;background: #EFF5FF;padding: 60px 0;}
.mark-body{margin-top: 60px;}
.mark-body ul{margin-bottom: 40px;}
.mark-body ul li{float: left;width: 580px;margin-right: 40px;cursor: pointer;-webkit-transition: all .3s ease; -moz-transition: all .3s ease; -ms-transition: all .3s ease; -o-transition: all .3s ease; transition: all .3s ease;}
.mark-body ul li:nth-child(1){transition:all .7s ease-out .1s}
.mark-body ul li:nth-child(2){transition:all .7s ease-out .3s}
.mark-body ul li:nth-child(3){transition:all .7s ease-out .5s}
.mark-body ul li:nth-child(4){transition:all .7s ease-out .7s}
.mark-body.delighter ul li{transform: translate(0,200px);opacity: 0.4;}
.mark-body.delighter.started ul li {transform: translate(0,0);opacity: 1;}
.mark-body ul li.delighter.started:hover{transform: translate(0,-10px);  -webkit-transition: all .3s ease; -moz-transition: all .3s ease; -ms-transition: all .3s ease; -o-transition: all .3s ease; transition: all .3s ease; box-shadow: 0 5px 15px 5px rgba(0,0,0,.15);}
.mark-body ul li:last-child{margin-right: 0;}
.mark-body ul li img{width: 100%;height: 360px;object-fit: cover;}


.section-teacher{padding: 60px 0;background-color: #EFF5FF;}
.teacher-box{position: relative;margin-top: 60px;height: 440px;}
.teacher-box.delighter.started .teacher-item{height:440px;} 
.teacher-item{ width:285px; height:0; float:left;cursor: pointer; margin-right:20px; padding-top:25px; text-align: center; overflow: hidden; color: #fff; transition:all .7s ease-out 0s;position: relative; background:url(../images/index-bg-teacher.jpg) 0 0 no-repeat;}
.teacher-item:last-of-type{margin-right:0;}
.teacher-item:after{ content: ""; width: 100%; height: 100%; background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.08) 69%, rgba(0, 0, 0, 0.95) 95%); position: absolute; top: 0; left: 0; transition: all 0.5s ease 0s;}
.teacher-item:hover:after{ background:none;  transition: all 1s ease 1s;}
.teacher-item .teacher-item__photo{transform: translateY(50px); transition: all 0.4s cubic-bezier(0.13, 0.62, 0.81, 0.91) 0s; width:120px; height:120px; border:5px solid rgba(44,112,228,.4);; border-radius:120px; overflow:hidden; zoom:1; margin:0 auto; transition: all 0.4s cubic-bezier(0.13, 0.62, 0.81, 0.91) 0s;}
.teacher-item .teacher-item__name{font-size: 20px; color:#fff; margin-top:15px; transform: translateY(50px); transition: all 0.4s cubic-bezier(0.13, 0.62, 0.81, 0.91) 0s;}
.teacher-item .teacher-item__title{ font-size:15px; color:#fff;display: block;cursor: pointer; width:150px; line-height:28px; margin:0 auto; margin-top:15px; transform: translateY(50px); transition: all 0.4s cubic-bezier(0.13, 0.62, 0.81, 0.91) 0s; background:#2C70E4; border-radius:15px;}
.teacher-item:hover .teacher-item__name, 
.teacher-item:hover .teacher-item__photo, 
.teacher-item:hover .teacher-item__title{transform: translateY(0);}
.teacher-item .teacher-item__text{width:100%; height:190px; font-size:14px; color:#fff; line-height:26px; text-align:justify; padding:15px 20px; margin-top:30px; position: relative; transform: translateY(70px); transition: all 0.6s cubic-bezier(0, 0, 0.58, 1) 0s; background:rgba(44,112,228,.4);}
.teacher-item:hover .teacher-item__text{transform:translateY(0);}

.section-reason{margin-top: 60px;}
.reason-items{overflow: hidden;margin-top: 40px;position: relative;background-color: #2C70E4;}
.reason-items dl{overflow: hidden;margin-bottom: 30px;}
.reason-items dl dt{font-size: 28px;background-color: #999999;color:#fff;float: left;width: 150px;text-align: center;height: 70px;line-height: 70px;}
.reason-items dl dd{font-size: 20px;background-color: #ccc;color:#333;float: left;width: 350px;height: 50px;line-height: 50px;font-size: 18px;margin-top: 20px;padding: 0 20px;}
.reason-items dl dd strong{font-size:26px;color:#2C70E4;vertical-align: baseline;}
.reason-vs__image{position: absolute;top: 50%;left: 50%;width: 178px;margin-left: -87px;margin-top: -114px;z-index: 3;}
.reason-vs__image img{width: 100%;}
.reason-item__one{width: 50%;background-color: #E6E6E6;float: left;padding: 40px 0;position: relative; }
.reason-item__one .fix-bg{  position: absolute;width: 100%;height: 100%;background-color: #E6E6E6;transform: skewX(-10deg);top: 0;left: 0;}
.reason-item__one .item-body{width: 600px;float: right;position: relative;z-index: 2;}
.reason-item__two{width: 50%;float: left;padding: 40px 0;position: relative;}
.reason-item__two dl dt{background-color: #5C96F9;}
.reason-item__two .fix-bg{  position: absolute;width: 100%;height: 100%;background-color: #2C70E4;transform: skewX(-10deg);top: 0;left: 0;}
.reason-item__two .item-body{width: 600px;float: left;position: relative;z-index: 2;}
.reason-item__two .item-body dl{float: right;}

.reason-item__one dl:nth-child(1){transform: translate(-100%,0);transition:all .7s ease-out .1s}
.section-reason.delighter.started .reason-item__one dl:nth-child(1){transform: translate(0,0)}
.reason-item__one dl:nth-child(2){transform: translate(-100%,0);transition:all .7s ease-out .3s}
.section-reason.delighter.started .reason-item__one dl:nth-child(2){transform: translate(0,0)}
.reason-item__one dl:nth-child(3){transform: translate(-100%,0);transition:all .7s ease-out .5s}
.section-reason.delighter.started .reason-item__one dl:nth-child(3){transform: translate(0,0)}
.reason-item__one dl:nth-child(4){transform: translate(-100%,0);transition:all .7s ease-out .7s}
.section-reason.delighter.started .reason-item__one dl:nth-child(4){transform: translate(0,0)}
.reason-item__one dl:nth-child(5){transform: translate(-100%,0);transition:all .7s ease-out .9s}
.section-reason.delighter.started .reason-item__one dl:nth-child(5){transform: translate(0,0)}

.reason-item__two dl:nth-child(1){transform: translate(100%,0);transition:all .7s ease-out .1s}
.section-reason.delighter.started .reason-item__two dl:nth-child(1){transform: translate(0,0)}
.reason-item__two dl:nth-child(2){transform: translate(100%,0);transition:all .7s ease-out .3s}
.section-reason.delighter.started .reason-item__two dl:nth-child(2){transform: translate(0,0)}
.reason-item__two dl:nth-child(3){transform: translate(100%,0);transition:all .7s ease-out .5s}
.section-reason.delighter.started .reason-item__two dl:nth-child(3){transform: translate(0,0)}
.reason-item__two dl:nth-child(4){transform: translate(100%,0);transition:all .7s ease-out .7s}
.section-reason.delighter.started .reason-item__two dl:nth-child(4){transform: translate(0,0)}
.reason-item__two dl:nth-child(5){transform: translate(100%,0);transition:all .7s ease-out .9s}
.section-reason.delighter.started .reason-item__two dl:nth-child(5){transform: translate(0,0)}

.section-example{margin-top: 60px;padding-bottom: 60px;}
.example-body{margin-top: 60px;}
.example-items ul li{border: 1px solid #ececec;padding:20px 30px;position: relative;margin-bottom: 20px;}
.example-items ul li:last-child{margin-right: 0;}
.example-items ul li .case-tag{position: absolute;right: -5px;top:15px;color: #fff;font-size: 18px;transform: rotate(45deg)}
.example-items ul li::before{content:' ';border-bottom: 80px solid transparent;border-right: 80px solid #2C70E4;position: absolute;right: 0;top: 0;width: 0;height: 0;}
.example-items ul li .avatar{width: 160px;height: 160px;border-radius: 100%;}
.example-items ul li .name{font-size: 28px;font-weight: normal;}
.example-items ul li .name .des{font-size: 18px;}
.example-items ul li .school{font-size: 18px;margin-top: 1px;}
.example-items ul li .introduce{text-align: left;margin-top: 15px;font-size: 16px;line-height: 24px;color: #999;overflow: hidden;}
.example-items ul li .introduce p{overflow: hidden;margin-bottom: 3px;}
.example-items ul li .introduce p:last-child{margin-bottom: 0;}
.example-items ul li .introduce .title{float: left;}
.example-items ul li .introduce .text{float: left;width: 1000px}
.example-more{display: block;width:150px;height: 40px;line-height: 40px;text-align: center;margin: 0 auto;font-size:16px;cursor: pointer;border:1px solid #2C70E4;color:#2C70E4;border-radius: 40px;
	-webkit-transition: all .3s ease; -moz-transition: all .3s ease; -ms-transition: all .3s ease; -o-transition: all .3s ease; transition: all .3s ease;
}
.example-more:hover{background-color: #2C70E4;color:#fff; }
.example-case{width: 100%;margin-top: 30px;}
.example-case.delighter{ opacity: 0;}
.example-case.delighter.started{animation-duration: 1s; animation-fill-mode: both;animation-name: zoomIn;}
@keyframes zoomIn {
	from {
	opacity: 0;
	-webkit-transform: scale3d(0.3, 0.3, 0.3);
	transform: scale3d(0.3, 0.3, 0.3);
	}

	100% {
	opacity: 1;
	-webkit-transform: scale3d(1, 1, 1);
	transform: scale3d(1, 1, 1);
	}
}


.section-service{background-color:#EFF5FF;padding: 60px 0;}
.service-body{margin-top: 40px;position: relative;}
.service-body .service-line{position: absolute;width: 3px;height: 520px;left:50%;background-color: #2C70E4;}
.service-items{height: 520px;}
.service-items li{position: relative;width: 600px;}
.service-items strong{font-weight: bold;color: #2C70E4;font-size: 26px;vertical-align: middle;display: inline-block;text-align: left;width: 160px;}
.service-items span{width: 350px;display: inline-block;text-align: left;font-size: 16px;vertical-align: middle;color: #666;border: 1px solid #ccc;padding: 10px 20px;position: relative;line-height: 24px;}
.service-items span::after{content: ' ';position: absolute;width: 0;height: 0;border-width:12px;border-style: solid;border-color: transparent #ccc transparent transparent;top: 50%;left: -25px;margin-top: -12px;}
.service-items span::before{content: ' ';position: absolute;width: 0;height: 0;border-width:12px;border-style: solid;border-color: transparent #EFF5FF transparent transparent;top: 50%;z-index: 2;left: -24px;margin-top: -12px;}
.service-items .service-left{text-align: right;width: 50%;position: absolute;right: 50%;margin-top: 20px;}
.service-items .service-left li{margin-bottom: 60px;float: right;position: relative;padding-right: 80px;}
.service-items .service-left strong{text-align: right;}
.service-items .service-left span::after{border-color: transparent transparent transparent #ccc ;top: 50%;right: -25px;margin-top: -12px;left: auto;}
.service-items .service-left span::before{border-color: transparent  transparent transparent #EFF5FF;top: 50%;z-index: 2;right: -24px;margin-top: -12px;left: auto;}

.service-items .service-left li::after{content: ' ';position: absolute;right: 0;width: 50px;height: 2px;background-color: #2C70E4;top:50%;margin-top: -1px;}
.service-items .service-left li::before{content: ' ';position: absolute;right: 50px;width: 8px;height: 8px;background-color: #EFF5FF;border:2px solid #2C70E4;top:50%;margin-top: -6px;border-radius: 100%;}
.service-items .service-right{text-align: left;width: 50%;position: absolute;left: 50%;}
.service-items .service-right li{float: left;position: relative;padding-left: 80px;}
.service-items .service-right li.one{margin-top: 90px;}
.service-items .service-right li.two{margin-top:90px }
.service-items .service-right li.three{margin-top:90px }
.service-items .service-right li::after{content: ' ';position: absolute;left: 0;width: 50px;height: 2px;background-color: #2C70E4;top:50%;margin-top: -1px;}
.service-items .service-right li::before{content: ' ';position: absolute;left: 50px;width: 8px;height: 8px;background-color: #fff;border:2px solid #2C70E4;top:50%;margin-top: -6px;border-radius: 100%;}


.section-media{margin-top: 60px;}
.media-body{margin-top: 60px;padding-bottom: 60px;}
.media-body ul li{float: left;width: 550px;overflow: hidden;margin-bottom: 20px;}
.media-body ul li.first{margin-right: 100px;}
.media-body ul li .cover{width:150px;height: 150px;float: left; margin-right: 20px;}
.media-body ul li .content{float: left;width: 380px;overflow: hidden;padding: 5px 0;}
.media-body ul li .content .content-title{font-size: 24px;margin-bottom: 10px;height:24px;line-height:24px; overflow:hidden;text-overflow:ellipsis;white-space: nowrap; }
.media-body ul li .content .content-text{font-size: 16px;color:#666;display: -webkit-box;-webkit-box-orient: vertical;-webkit-line-clamp: 5;overflow: hidden;}


.section-ensure{background-color: #EFF5FF;padding: 60px 0;}
.ensure-box{margin-top: 60px;}
.ensure-box .ensure-item{float:left; width:350px; height:430px; margin-right: 75px; background: -webkit-linear-gradient(top,rgba(44,112,228),rgba(44,112,228,0.5)); padding-top:182px; text-align:center; position:relative;  -webkit-transition: all .3s ease; -moz-transition: all .3s ease; -ms-transition: all .3s ease; -o-transition: all .3s ease; transition: all .3s ease;}
.ensure-box .ensure-item:last-child{margin-right: 0;}
.ensure-box .ensure-item:hover{transform: translate(0,-10px);  -webkit-transition: all .3s ease; -moz-transition: all .3s ease; -ms-transition: all .3s ease; -o-transition: all .3s ease; transition: all .3s ease; box-shadow: 0 5px 15px 5px rgba(0,0,0,.15);}
.ensure-box .ensure-item .ensure-item__title{font-size:30px; color:#e8ff22; padding-bottom:15px; position:relative;}
.ensure-box .ensure-item .ensure-item__title::before{content:" "; width:30px; height:2px; background:#fff; position:absolute; left:0; right:0; bottom:0; margin:auto;}
.ensure-box .ensure-item .ensure-item__text{font-size:18px; color:#fff; line-height:28px; margin-top:25px;}
.ensure-box .ensure-item .ensure-item__icon{width:134px; height:132px; position:absolute; left:0; top:30px; right:0; margin:auto;}
.ensure-box .ensure-item .ensure-item__icon1{background:url(../images/zytbfw-icon-bz1.png) 0 0 no-repeat;;}
.ensure-box .ensure-item .ensure-item__icon2{background:url(../images/zytbfw-icon-bz2.png) 0 0 no-repeat;;}
.ensure-box .ensure-item .ensure-item__icon3{background:url(../images/zytbfw-icon-bz3.png) 0 0 no-repeat;}

.partner-box{margin-top: 60px;}
.partner-item{width:180px;margin-right:24px;margin-bottom:20px;float:left;border:1px solid #e5e5e5;cursor:pointer;transition:all .5s ease;}
.partner-item:nth-of-type(6n){margin-right:0;}
.partner-item:nth-of-type(n+6){margin-bottom:0;}
.partner-item__logo{width:180px;height:140px;overflow:hidden;position:relative;}
.partner-item__logo img{width:100%;max-width:110px;min-height:110px;max-height:110px;position:absolute;left:0;right:0;top:0;bottom:0;margin:auto;transition:all 1s ease;}
.partner-item:hover{border:1px solid rgba(44,112,228);transition:all 1s ease;}
.partner-item:hover .partner-item__logo img{transform:scale(1.05);transition:all 1s ease;}
.partner-item .partner-item__name{font-size:16px;color:#333;padding:10px;background:#f9f9f9;text-align:center;border-top:1px solid #eee;}

.section-partner{padding: 60px 0;}

.section-footer{background-color: rgba(0,0,0,0.9);color: #fff;text-align: center;padding:20px 0 140px 0;}
.section-footer ul{overflow: hidden;margin-bottom: 10px;}
.section-footer ul li{display: inline-block;margin-right: 20px;cursor: pointer;}
.section-footer ul li img{border-radius: 3px;width: 114px;height: 41px;}
.section-footer ul li:last-child{margin-right: 0;}

.section-contact{position: fixed;right: 10px;top:50%;z-index: 10;transform: translateY(-50%)}
.contact-code{margin-bottom: 10px;}
.contact-code .contact-code__service{width: 100px;display: block;margin: 0 auto;}
.code-wrap{width: 130px;height: 140px;border: 1px solid #00aeef;background-color: #fff;border-radius: 4px;padding: 5px 0;}
.contact-code .contact-code__code{width: 110px;height: 110px;display: block;margin: 0 auto;}
.contact-code .contact-code__text{display: block;text-align: center;height: 20px;line-height: 20px;}
.contact-items{background-color: #D0D6D9;padding:20px 15px;border-radius: 4px;}
.contact-items .contact-item{display: block;background-color: #fff;margin-bottom: 10px;text-align: center;padding: 5px 15px;border-radius: 4px;}
.contact-items .contact-online{background-color: #2C70E4;color: #fff;margin-top: 30px;display: block;text-align: center;padding: 8px 0;border-radius: 4px;}
.contact-top{background-color: #D0D6D9;text-align: center;margin-top: 20px;color: #fff;padding: 10px 0;display: block;border-radius: 4px;}

.footer-nail{height: 100px;position: fixed;z-index: 11;bottom: 0;width: 100%;background-color:#2D6FE4;box-shadow: 0 0 10px #2D6FE4;background: -moz-linear-gradient(left, #2D6FE4, #A743FF);background: -webkit-linear-gradient(left, #2D6FE4, #A743FF);}
.footer-nail .nail-img{width: 800px;margin: 0 auto;display: block;position: relative;top: -60px;z-index: 2;}
.footer-nail .nail-body{width: 1200px;position: relative;top:-60px;color: #fff;font-size:34px;margin: 0 auto;text-align: center;}
.footer-nail .nail-body strong{padding: 0 10px;}
.footer-nail .nail-body .btn{color: #fff;background-color:#EEF77D;background: -moz-linear-gradient(top, #EEF77D, #FEA309);background: -webkit-linear-gradient(top, #EEF77D, #FEA309);font-size:42px;position: absolute;right: 0;top:-38px;font-weight: bold;display: block;border-radius: 100%;width: 100px;height: 100px;line-height: 100px;}
.files {position: absolute;text-align: center;right: -130px;top: -120px;}
.files .file {width:15px;fill:#FEA309;-webkit-animation:1500ms fallingFile infinite ease-in;animation:1500ms fallingFile infinite ease-in;}
@-webkit-keyframes fallingFile {0%{opacity:0;-webkit-transform:translate3d(0,40px,0) rotate(0deg);transform:translate3d(0,40px,0) rotate(0deg);}60%{opacity:1;}100%{opacity:0;-webkit-transform:translate3d(0,-120px,0) rotate(90deg);transform:translate3d(0,-120px,0) rotate(90deg);}}
@keyframes fallingFile {0%{opacity:0;-webkit-transform:translate3d(0,40px,0) rotate(0deg);transform:translate3d(0,40px,0) rotate(0deg);}60%{opacity:1;}100%{opacity:0;-webkit-transform:translate3d(0,-120px,0) rotate(90deg);transform:translate3d(0,-120px,0) rotate(90deg);}}


.example-table {width:100%;background:#ccc; border-collapse:collapse;font-size: 16px;}
.example-table th, td {height:25px;line-height:25px;text-align:center;border:1px solid #ccc;padding: 10px;}
.example-table th {background:#2C70E4;font-weight:normal;color:#fff;}
.example-table tr {background:#fff;transition:all .3s ease-out;}
.example-table tr:hover {background:rgba(44,112,228,0.5);color: #fff;}
.example-table td a {color:#06f;text-decoration:none;}
.example-table td a:hover {color:#06f;text-decoration:underline;}

#nb_icon_wrap{display: none;}
.j-shangqiao{cursor: pointer;}
.codeDialog-content img{width: 300px;height: 300px;}
.codeDialog-content .tip{font-size:20px;margin-bottom: 20px;}